
    <nb-card>
        <nb-card-header>
            SF1_2
        </nb-card-header>
    <nb-card-body>
    <ejs-circulargauge  #gaugeSF1_2 id="sample-dataSF1_2" style='display: block; height:150px; '>
        <e-axes>
            <e-axis startAngle=260 endAngle=100 [majorTicks]="majorTicks" [minorTicks]=""
                [labelStyle]="labelStyle" [lineStyle]="lineStyle" [ranges]="ranges" [pointers]="pointers2">
                <e-annotations>
                    <e-annotation [content]="annotation" angle=180 radius='30%' zIndex='1'></e-annotation>
                    <!-- <e-annotation [content]="annotation2" angle=180 radius='65%' zIndex='1'></e-annotation> -->
                </e-annotations>
            </e-axis> 
        </e-axes>
    </ejs-circulargauge>
    <div  style="margin-left: 23%; margin-top: -0%; padding-top: -40px; padding-block-start: -98px;"> 
       <p> {{TeamSF1_2?.SF1_2_CorrienteActualMotor | number : '1.4-5' }} Corriente </p>
       <p> {{TeamSF1_2?.SF1_2_PotenciaActualMotor | number : '1.2-2' }} Potencia </p>
       <p> {{TeamSF1_2?.SF1_2_KWh | number : '1.4-5' }} kWh </p>
       
    </div>
</nb-card-body>
</nb-card>
