<!-- <bold-reportviewer id="reportViewer_Control_report4" [reportServiceUrl] = "reportServiceUrl" [reportServerUrl]="reportServerUrl" 
  [serviceAuthorizationToken]="serviceAuthorizationToken"  [reportPath] = "reportPath" style="width: 100%;height: 950px">
</bold-reportviewer> -->

<iframe src='http://10.120.18.8:56997/reporting/site/site1/reports/1317cdd1-2377-4669-8b72-059b8d7c8e5b/Reports%20Pia/Informe%20ejecutivo%20CBRA%20-%20SSI%204?isembed=true&views=true' 
id='report-frame' width='100%' height='720px' allowfullscreen frameborder='0'></iframe>